*,
::before,
::after {
    box-sizing: border-box;
}

body {
    background: rgb(20, 20, 20);
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 20%, rgba(0,0, 0, .7) 100%); */
    letter-spacing: 0.5px;
    margin: 0;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

h1 {
    font-size: calc(3vw + 18px);
    text-align: left;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}