

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    /* background: rgb(20, 20, 20); */
    background-image: linear-gradient(to right top, #22363f, #204954, #185e66, #107374, #18887d);    letter-spacing: 0.5px;
    margin: 0;
    width: 100%;
    color: #fff;
    overflow: hidden;
}

h1 {
    font-size: calc(3vw + 18px);
    text-align: left;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
}

/* Color






*/